.carousel {
}
.slide {
  background-color: rgb(199, 199, 199);
}
.carousel-indicators {
}
.active {
}
.carousel-inner {
}
.carousel-item {
}
.row {
}
.card {
}
.card-img-top {
}
.card-body {
}
.card-title {
}
.card-text {
}
.btn {
}
.btn-primary {
}
.carousel-caption {
}
.d-none {
}
.d-md-block {
}
.carousel-control-prev {
}
.carousel-control-prev-icon {
}
.visually-hidden {
}
.carousel-control-next {
}
.carousel-control-next-icon {
}
.lox {
  padding: 50px;
  padding-left: 16%;
}
