.container4 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #f2f2f2;
  width: 1440px;
  height: 644px;
  margin-top: -150px;
  z-index: 5;
}
.container4__telepnone {
  margin-top: 100px;
}
.container4__telephone8 {
}
.container4__paragraph {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 403px;
  height: 280px;
}
.container4__paragraph-text1 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #222222;
}
.container4__paragraph-text2 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 36px;
  color: #222222;
}
.container4__paragraph-text3 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #666666;
}
