.contairs6 {
  width: 1440px;
  height: 702px;
}
.container6__cays-text {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.container6__cays-text1 {
  margin-top: 100px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #222222;
}
.container6__cays-text2 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 36px;
  color: #222222;
  margin-top: 5px;
}
.container6__cays-text3 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #666666;
  text-align: center;
  margin-top: 14px;
  width: 568px;
  height: 48px;
}
.Container6__cays1 {
  height: 338px;
  width: 379px;
  background: #f2f2f2;
  border-radius: 20px;
  margin-left: 0px;
}
.container6__cays1-box {
}
.container6__cays1-box1 {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 49px;
}
.container6__cays1-box1-text1 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #0278ed;
}
.container6__cays1-box1-text2 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 108px;
  line-height: 124px;
  color: #0278ed;
}
.container6__cays1-box1-text3 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #222222;
}
.container6__cays-box2 {
  width: 129px;
  height: 40px;
  border-radius: 4px;
  background-color: #0278ed;
  color: aliceblue;
  text-align: center;
  line-height: 40px;
  margin-top: 20px;
  margin-left: 125px;
}
.container6__cays-box2-ssilka1 {
  color: aliceblue;
  text-decoration: none;
}
.Container6__blok2 {
  height: 338px;
  width: 379px;
  background: #f2f2f2;
  border-radius: 20px;
  margin-left: 16px;
}
.container6__blok2-box {
}
.container6__blok2-box1 {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 49px;
}
.container6__blok2-box1-text1 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 24px;
  color: #ff5437;
}
.container6__blok2-box1-text2 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 105px;
  line-height: 124px;
  color: #ff5437;
}
.container6__blok2-box1-text3 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #222222;
}
.container6__blok-box2 {
  width: 129px;
  height: 40px;
  border-radius: 4px;
  background-color: #ff5437;
  color: aliceblue;
  text-align: center;
  line-height: 40px;
  margin-top: 20px;
  margin-left: 125px;
}
.container6__blok-box2-ssilka2 {
  color: aliceblue;
  text-decoration: none;
}
.Container6__frame3 {
  height: 338px;
  width: 379px;
  background: #f2f2f2;
  border-radius: 20px;
  margin-left: 15px;
}
.Container6__frame3-box {
}
.Container6__frame3-box1 {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 49px;
}
.Container6__frame3-box1-text1 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #ff9209;
}
.Container6__frame3-box1-text2 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 104px;
  line-height: 124px;
  color: #ff9209;
}
.Container6__frame3-box1-text3 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #222222;
}
.Container6__frame3-box2 {
  width: 129px;
  height: 40px;
  border-radius: 4px;
  background-color: #ff9209;
  color: aliceblue;
  text-align: center;
  line-height: 40px;
  margin-top: 20px;
  margin-left: 125px;
}
.Container6__frame3-box2-ssilka3 {
  color: aliceblue;
  text-decoration: none;
}

.Container6__blok {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-self: flex-start;
  margin-top: 41px;
  margin-left: 136px;
  height: 338px;
  width: 1168px;
}
