.container1 {
  width: 1440px;
  height: 1338px;
  background: #222222;
  position: absolute;
  margin-left: -150px;
  margin-top: 573px;
  z-index: 1;
}
.container1__text-box {
}
.container__text1 {
}
.container__text2 {
}
.container1__div1 {
}
.container1__telephone-wrapper1 {
}
.container1__logo1 {
}
.container1__text-logo1 {
}
.container1__text-wrapper1 {
}
.container1__div2 {
}
.container2__telephone-wrapper2 {
}
.container2__logo2 {
}
.container2__text-logo2 {
}
.container2__text-wrapper2 {
}
.container1__div3 {
}
.container3__telephone-wrapper3 {
}
.container3__logo3 {
}
.container3__text-logo3 {
}
.container3__text-wrapper3 {
}
.container1__div4 {
}
.container4__telephone-wrapper4 {
}
.container4__logo4 {
}
.container4__text-logo4 {
}
.container1__div5 {
}
.container5__telephone-wrapper5 {
}
.container5__logo5 {
}
.container5__text-logo5 {
}
.container5__text-wrapper5 {
}
.container1__div6 {
}
.container6_telephone-wrapper6 {
}
.container6__logo6 {
}
.container6__text-logo6 {
}
.container6__text-wrapper6 {
}
