.footer {
  background-color: #f2f2f2;
  height: 427px;
  width: 1440px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.footer__logo-wrapper {
  display: flex;
  flex-direction: column;
  height: 120px;
  width: 126px;
}
.footer__logo {
}
.footer__logo1 {
  margin-top: 29px;
}
.footer_text {
  display: flex;
  margin-top: 76px;
}
.footer__text1 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #b1b1b1;
}
.footer__text2 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #666666;
}
.footer__text3 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #b1b1b1;
}
.footer__text4 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #666666;
}
